<fieldset class="filter filter_active filter--filter">
    <legend class="hidden">Filters</legend>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox--filter-interviews">The 100 Women interviews</label>
        <input class="filter_checkbox" id="filter_checkbox--filter-interviews" value="filter-interviews" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox--filter-thirty_under_thirty">30 under 30</label>
        <input class="filter_checkbox" id="filter_checkbox--filter-thirty_under_thirty" value="filter-thirty_under_thirty" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox--filter-good_girl">&lsquo;Good Girl&rsquo; film makers</label>
        <input class="filter_checkbox" id="filter_checkbox--filter-good_girl" value="filter-good_girl" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox--filter-vintage_ladies">Vintage ladies</label>
        <input class="filter_checkbox" id="filter_checkbox--filter-vintage_ladies" value="filter-vintage_ladies" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox--filter-nurses">Nurses</label>
        <input class="filter_checkbox" id="filter_checkbox--filter-nurses" value="filter-nurses" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox--filter-further_inspiration">Further inspiration</label>
        <input class="filter_checkbox" id="filter_checkbox--filter-further_inspiration" value="filter-further_inspiration" type="checkbox">
    </div>
</fieldset>