<fieldset class="filter filter_active" id="filter_filter">
    <legend class="sr-only">Filters</legend>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox_filter-interviews">The 100 Women interviews</label>
        <input class="filter_checkbox" id="filter_checkbox_filter-interviews" value="filter-interviews" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox_filter-thirty_under_thirty">30 under 30</label>
        <input class="filter_checkbox" id="filter_checkbox_filter-thirty_under_thirty" value="filter-thirty_under_thirty" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox_filter-good_girl">&lsquo;Good Girl&rsquo; film makers</label>
        <input class="filter_checkbox" id="filter_checkbox_filter-good_girl" value="filter-good_girl" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox_filter-vintage_ladies">Vintage ladies</label>
        <input class="filter_checkbox" id="filter_checkbox_filter-vintage_ladies" value="filter-vintage_ladies" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox_filter-nurses">Nurses</label>
        <input class="filter_checkbox" id="filter_checkbox_filter-nurses" value="filter-nurses" type="checkbox">
    </div>
    <div>
        <label class="filter_checkbox_label" for="filter_checkbox_filter-further_inspiration">Further inspiration</label>
        <input class="filter_checkbox" id="filter_checkbox_filter-further_inspiration" value="filter-further_inspiration" type="checkbox">
    </div>
</fieldset>