<div class="main">
    <div class="facewall">
        <div class="facewall_cta mob_toggle">Select a filter</div>

        <div class="facewall_filters mob_toggle ">
            <button class="filter_toggle filter_toggle_active" data-href="#filter">Filters</button>
            
            <form id="filters">
                <%= include('filters_filter.tmpl') %>
            </form>

            <ul class="filter_indicator"></ul>
            <span class="filter_counter">100/100</span>
        </div>

        <div class="facewall_cta mob_toggle">Select a face</div>

        <ul class="facewall_list mob_toggle">
            <%= include('list.tmpl') %>
        </ul>
        
        <div class="facewall_profile facewall_profile_enabled">
            <ul class="facewall_profile_list">
                <%= include('profile.tmpl') %>
            </ul>
        </div>

        <div class="clear"></div>
    </div>
</div>
