<div class="main">
    <div class="facewall">
        <h1 class="facewall_title">Who are the 100 women?</h1>
        <div class="facewall_filters">
            <div class="facewall_cta">Select a filter</div>
            <button class="filter_tab filter_tab_active hidden" data-filter-name="filter">Filters</button>
            
            <form id="filters">
                <%= include('filters_filter.tmpl') %>
            </form>

            <ul class="filter_indicator"></ul>
            <div class="filter_counter">100/100 women</div>
        </div>

        <div class="facewall_cta">Select a face</div>

        <ul class="facewall_list">
            <%= include('list.tmpl') %>
        </ul>
        
        <div class="facewall_profile_wrapper">
            <div class="back_to_facewall">Back to facewall</div>
            <ul class="facewall_profile_list">
                <%= include('profile.tmpl') %>
            </ul>
        </div>

        <div class="clear"></div>
    </div>
</div>
