<li class="facewall_profile" id="facewall_1">
    <h2 class="facewall_profile_name">Bobbi Brown</h2>
    <div class="facewall_profile_img facewall_profile_img_silhouette"></div>
    <div class="facewall_profile_attribute">Age: 58</div>
    <div class="facewall_profile_attribute">Job: Make-up entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: American</div>
    <p class="facewall_profile_paragraph">A professional make-up artist who founded the successful Bobbi Brown Cosmetics brand in the early 90s.</p>
    <p class="facewall_profile_paragraph">Sick of red lipstick, she was interested in celebrating rather than altering womens features, and forged a more natural look. Bobbi features in our '100 Women Interviews' strand.</p>
</li>
<li class="facewall_profile" id="facewall_2">
    <h2 class="facewall_profile_name">Alek Wek</h2>
    <div class="facewall_profile_img facewall_profile_img_silhouette"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Model and refugee rights activist</div>
    <div class="facewall_profile_attribute">Nationality: South Sudan</div>
    <p class="facewall_profile_paragraph">Alek Wek is one of the world’s most recognisable models. She grew up during the civil war in Southern Sudan – when Sudan was still unified.</p>
    <p class="facewall_profile_paragraph">Her family sought refuge in Britain in the 1990’s. She pursued a career in modelling and quickly rose to the top of her profession.</p>
    <p class="facewall_profile_paragraph">Now based in New York she is an author, entrepreneur and UN Goodwill ambassador and makes regular trips to South Sudan's refugee camps.</p>
</li>
<li class="facewall_profile" id="facewall_3">
    <h2 class="facewall_profile_name">Fatou Bensouda</h2>
    <div class="facewall_profile_img facewall_profile_img_silhouette"></div>
    <div class="facewall_profile_attribute">Age: 54</div>
    <div class="facewall_profile_attribute">Job: Chief prosecutor, ICC</div>
    <div class="facewall_profile_attribute">Nationality: Gambian</div>
    <p class="facewall_profile_paragraph">The chief prosecutor of the International Criminal Court (ICC) in the Hague, she is the first African to hold a top post at the ICC.</p>
    <p class="facewall_profile_paragraph">She is a legal professional who previously served as a civil servant in the Gambian government, and is the recipient of many awards for her contributions to criminal law.</p>
    <p class="facewall_profile_paragraph">Fatou features in our '100 Women Interviews' strand.</p>
</li>
<li class="facewall_profile" id="facewall_4">
    <h2 class="facewall_profile_name">Nkoszana Dlamini Zuma</h2>
    <div class="facewall_profile_img facewall_profile_img_silhouette"></div>
    <div class="facewall_profile_attribute">Age: 66</div>
    <div class="facewall_profile_attribute">Job: Chair, African Union Commission</div>
    <div class="facewall_profile_attribute">Nationality: South African</div>
    <p class="facewall_profile_paragraph">Dr. Nkosazana Dlamini Zuma is the Chair of the African Union Commission based in Addis Ababa, Ethiopia.</p>
    <p class="facewall_profile_paragraph">Before joining the AU in 2012 she served as a minister in all of South Africa's post apartheid governments. Before entereing politics Dr Dlamini Zuma was an ANC activist who spent some of the apartheid years in exile.</p>
    <p class="facewall_profile_paragraph">She is a trained medical doctor</p>
</li>
<li class="facewall_profile" id="facewall_5">
    <h2 class="facewall_profile_name">Jenni Rhodes</h2>
    <div class="facewall_profile_img facewall_profile_img_silhouette"></div>
    <div class="facewall_profile_attribute">Age: 83</div>
    <div class="facewall_profile_attribute">Job: Textile designer</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Recently retired model, former actress and fashion designer, she is still working hard.</p>
    <p class="facewall_profile_paragraph">At the age of 83, when many people are in comfortable in retirement, she has started a new career as a textile designer.</p>
    <p class="facewall_profile_paragraph">Jenni features in our 'Veteran Ladies' strand.</p>
</li>
<li class="facewall_profile" id="facewall_6">
    <h2 class="facewall_profile_name">Ayesha Ishtiaq</h2>
    <div class="facewall_profile_img facewall_profile_img_silhouette"></div>
    <div class="facewall_profile_attribute">Age: 17</div>
    <div class="facewall_profile_attribute">Job: Schoolgirl feminist</div>
    <div class="facewall_profile_attribute">Nationality: Pakistan</div>
    <p class="facewall_profile_paragraph">Ayesha is a grade 12 student from Islamabad who is passionate about tackling the sexism she perceives in her society.</p>
    <p class="facewall_profile_paragraph">She gets together with a close group of friends for feminist and human rights talks and plans to study journalism or womens studies in the US before returning to Pakistan to use her education to help others.</p>
    <p class="facewall_profile_paragraph">Ayesha appears in our 'Good girl' film makers strand.</p>
</li>
