<li class="facewall_profile" id="facewall_1">
    <h2 class="facewall_profile_name">Nicola Adams</h2>
    <div class="facewall_profile_img facewall_profile_img_1"></div>
    <div class="facewall_profile_attribute">Age: 32</div>
    <div class="facewall_profile_attribute">Job: Boxer</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Nicola is the world’s first female boxing Olympic Champion and is the current Commonwealth Games and European Games flyweight champion.</p>
    <p class="facewall_profile_paragraph">She was awarded an MBE IN 2013 for her services to boxing.</p>
</li>
<li class="facewall_profile" id="facewall_2">
    <h2 class="facewall_profile_name">Ameera Ahmad Harouda</h2>
    <div class="facewall_profile_img facewall_profile_img_2"></div>
    <div class="facewall_profile_attribute">Age: 32</div>
    <div class="facewall_profile_attribute">Job: Fixer (journalist's aide)</div>
    <div class="facewall_profile_attribute">Nationality: Libyan</div>
    <p class="facewall_profile_paragraph">Ameera moved to Gaza as a child and was one of the only female fixers in Gaza when she started in 2005.</p>
    <p class="facewall_profile_paragraph">She has worked for CNN, Der Spiegel and The Guardian.</p>
</li>
<li class="facewall_profile" id="facewall_3">
    <h2 class="facewall_profile_name">Muzzon al-Mellehan</h2>
    <div class="facewall_profile_img facewall_profile_img_3"></div>
    <div class="facewall_profile_attribute">Age: 16</div>
    <div class="facewall_profile_attribute">Job: Campaigner</div>
    <div class="facewall_profile_attribute">Nationality: Syrian</div>
    <p class="facewall_profile_paragraph">Muzzon fled with her parents and three younger siblings to Jordan in 2013 and lives in the Al-Azraq refugee camp.</p>
    <p class="facewall_profile_paragraph">She has been dubbed the Malala of Syria for her campaign to keep Syrian girls like her in the camp’s makeshift school, rather than being married off.</p>
</li>
<li class="facewall_profile" id="facewall_4">
    <h2 class="facewall_profile_name">Siba Alaradi</h2>
    <div class="facewall_profile_img facewall_profile_img_4"></div>
    <div class="facewall_profile_attribute">Age: 27</div>
    <div class="facewall_profile_attribute">Job: Structural engineer, now volunteer</div>
    <div class="facewall_profile_attribute">Nationality: Syrian</div>
    <p class="facewall_profile_paragraph">Siba and her family fled from war-torn Damascus to Istanbul. She often felt lonely and disheartened until she heard about a community center in Istanbul for people displaced by the war in Syria.</p>
    <p class="facewall_profile_paragraph">Working with the children there has given Siba, a structural engineer who graduated from Damascus University, an opportunity to give something back and be part of a diverse and supportive community.</p>
</li>
<li class="facewall_profile" id="facewall_5">
    <h2 class="facewall_profile_name">Antonia Albert</h2>
    <div class="facewall_profile_img facewall_profile_img_5"></div>
    <div class="facewall_profile_attribute">Age: 25</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: German</div>
    <p class="facewall_profile_paragraph">Antonia co-founded Careship, an online marketplace for elderly care, with her brother Nikolaus earlier this year.</p>
    <p class="facewall_profile_paragraph">After finding it difficult to find care for their ill grandmother, they wanted to give users straight-forward access to qualified and certified care professionals.</p>
    <p class="facewall_profile_paragraph">Antonia features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_6">
    <h2 class="facewall_profile_name">Sonita Alizadeh</h2>
    <div class="facewall_profile_img facewall_profile_img_6"></div>
    <div class="facewall_profile_attribute">Age: 18</div>
    <div class="facewall_profile_attribute">Job: Rapper</div>
    <div class="facewall_profile_attribute">Nationality: Afghan</div>
    <p class="facewall_profile_paragraph">Sonita narrowly escaped being sold into marriage as a young girl by writing the song Brides for Sale.</p>
    <p class="facewall_profile_paragraph">She now uses her powerful voice and poetic lyrics to advocate an end to forced marriage across the world.</p>
</li>
<li class="facewall_profile" id="facewall_7">
    <h2 class="facewall_profile_name">Victoria Alonsoperez</h2>
    <div class="facewall_profile_img facewall_profile_img_7"></div>
    <div class="facewall_profile_attribute">Age: 27</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Uruguayan</div>
    <p class="facewall_profile_paragraph">After studying space engineering she became one of the founders of ieeTECH which looks for engineering solutions to agricultural problems.</p>
    <p class="facewall_profile_paragraph">The company uses satellites to monitor tagged cattle to help farmers track livestock and detect signs of disease.</p>
    <p class="facewall_profile_paragraph">Victoria appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_8">
    <h2 class="facewall_profile_name">Niloufar Ardalan</h2>
    <div class="facewall_profile_img facewall_profile_img_8"></div>
    <div class="facewall_profile_attribute">Age: 30</div>
    <div class="facewall_profile_attribute">Job: Footballer</div>
    <div class="facewall_profile_attribute">Nationality: Iranian</div>
    <p class="facewall_profile_paragraph">Niloufar is the captain of the Iran women’s football team.</p>
    <p class="facewall_profile_paragraph">Known locally as Lady Goal, she became a somewhat reluctant feminist icon after her husband refused to allow her to travel abroad for a tournament.</p>
</li>
<li class="facewall_profile" id="facewall_9">
    <h2 class="facewall_profile_name">Paulina Arreola</h2>
    <div class="facewall_profile_img facewall_profile_img_9"></div>
    <div class="facewall_profile_attribute">Age: 23</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Mexican</div>
    <p class="facewall_profile_paragraph">Paulina is CEO and co-founder of Lavadero in Mexico City, which collects dirty washing.</p>
    <p class="facewall_profile_paragraph">The company then either washes or dry cleans it before delivering it back to the customer.</p>
    <p class="facewall_profile_paragraph">Paulina features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_10">
    <h2 class="facewall_profile_name">Masoumeh Ataei</h2>
    <div class="facewall_profile_img facewall_profile_img_10"></div>
    <div class="facewall_profile_attribute">Age: 31</div>
    <div class="facewall_profile_attribute">Job: Acid attack victim</div>
    <div class="facewall_profile_attribute">Nationality: Iranian</div>
    <p class="facewall_profile_paragraph">Blinded and scarred for life after suffering an acid attack at the hands of her ex father-in-law, she then fought for custody of her young son, which would have been awarded to the family who blinded her.</p>
    <p class="facewall_profile_paragraph">She eventually won her battle and now campaigns on the issue of acid attacks.</p>
</li>
<li class="facewall_profile" id="facewall_11">
    <h2 class="facewall_profile_name">Xyza Bacani</h2>
    <div class="facewall_profile_img facewall_profile_img_11"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Photographer</div>
    <div class="facewall_profile_attribute">Nationality: Filipino</div>
    <p class="facewall_profile_paragraph">Having worked as a domestic worker in Hong Kong for almost a decade, Xyza tells the stories of the victims of human rights violations through photography.</p>
    <p class="facewall_profile_paragraph">She is one of the Magnum Foundation Human Rights Fellows 2015 and is currently based in New York.</p>
</li>
<li class="facewall_profile" id="facewall_12">
    <h2 class="facewall_profile_name">Alimata Bara</h2>
    <div class="facewall_profile_img facewall_profile_img_12"></div>
    <div class="facewall_profile_attribute">Age: 24</div>
    <div class="facewall_profile_attribute">Job: Trader</div>
    <div class="facewall_profile_attribute">Nationality: Burkinabe</div>
    <p class="facewall_profile_paragraph">Alimata is from Beguedo, a small village in Eastern Burkina Faso, and is married to an economic migrant working in Italy. Since their marriage in 2009, her husband has only returned twice.</p>
    <p class="facewall_profile_paragraph">She thought marrying a migrant would allow her to escape the hardships of rural life, and that she would join him abroad, but instead she spends her time waiting and looking after their two children.</p>
</li>
<li class="facewall_profile" id="facewall_13">
    <h2 class="facewall_profile_name">Sana Ben Ashour</h2>
    <div class="facewall_profile_img facewall_profile_img_13"></div>
    <div class="facewall_profile_attribute">Age: 60</div>
    <div class="facewall_profile_attribute">Job: Civil society activist</div>
    <div class="facewall_profile_attribute">Nationality: Tunisian</div>
    <p class="facewall_profile_paragraph">Sana founded women's shelter BEITY (Arabic for My Home) in 2012, motivated by the need for justice and equality for women in her society.</p>
    <p class="facewall_profile_paragraph">It is a unique association in Tunisia that helps single mothers and other women in need, including victims of poverty and domestic violence.</p>
</li>
<li class="facewall_profile" id="facewall_14">
    <h2 class="facewall_profile_name">Nicola Benedetti</h2>
    <div class="facewall_profile_img facewall_profile_img_14"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Musician</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">One of the most sought after violinists of her generation, Nicola is fiercely committed to music education and to developing young talent.</p>
    <p class="facewall_profile_paragraph">She is an ambassador for Sistema Scotland’s Big Noise project and vice president of the National Children's Orchestra of Great Britain. She has also developed her own education initiative, The Benedetti Sessions.</p>
</li>
<li class="facewall_profile" id="facewall_15">
    <h2 class="facewall_profile_name">Meryl Benitah</h2>
    <div class="facewall_profile_img facewall_profile_img_15"></div>
    <div class="facewall_profile_attribute">Age: 26</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: French</div>
    <p class="facewall_profile_paragraph">Meryl set up La Boite Qui Cartonne, a decluttering service after studying at the Sorbonne.</p>
    <p class="facewall_profile_paragraph">The company delivers boxes to be packed by the customer and then taken away and stored and can be re-delivered at any time.</p>
    <p class="facewall_profile_paragraph">Meryl features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_16">
    <h2 class="facewall_profile_name">Fatou Bensouda</h2>
    <div class="facewall_profile_img facewall_profile_img_16"></div>
    <div class="facewall_profile_attribute">Age: 54</div>
    <div class="facewall_profile_attribute">Job: Chief Prosecutor, ICC</div>
    <div class="facewall_profile_attribute">Nationality: Gambian</div>
    <p class="facewall_profile_paragraph">The chief prosecutor of the International Criminal Court (ICC) in the Hague, she is the first African to hold a top post at the ICC.</p>
    <p class="facewall_profile_paragraph">She previously served as a civil servant in the Gambian government, and is the recipient of many awards for her contributions to criminal law.</p>
    <p class="facewall_profile_paragraph">Fatou features in our '100 Women Interviews' strand.</p>
</li>
<li class="facewall_profile" id="facewall_17">
    <h2 class="facewall_profile_name">Asha Bhosle</h2>
    <div class="facewall_profile_img facewall_profile_img_17"></div>
    <div class="facewall_profile_attribute">Age: 82</div>
    <div class="facewall_profile_attribute">Job: Singer</div>
    <div class="facewall_profile_attribute">Nationality: Indian</div>
    <p class="facewall_profile_paragraph">A singing legend who started working in Bollywood in 1943, Asha has been entered in the Guinness Book of Records as the most-recorded artist in music history.</p>
    <p class="facewall_profile_paragraph">As a playback singer, she has recorded songs to be mimed in 1,000 films by hundreds of actresses.</p>
</li>
<li class="facewall_profile" id="facewall_18">
    <h2 class="facewall_profile_name">Cecilia Bouzat</h2>
    <div class="facewall_profile_img facewall_profile_img_18"></div>
    <div class="facewall_profile_attribute">Age: 53</div>
    <div class="facewall_profile_attribute">Job: Biophysicist</div>
    <div class="facewall_profile_attribute">Nationality: Argentinian</div>
    <p class="facewall_profile_paragraph">Cecilia is a scientist who has made a significant contribution to our understanding of how brain cells communicate among themselves and with muscles.</p>
    <p class="facewall_profile_paragraph">Her work has opened the door to potential new treatments for Alzheimer's disease, depression and certain addictive behaviours.</p>
</li>
<li class="facewall_profile" id="facewall_19">
    <h2 class="facewall_profile_name">Bobbi Brown</h2>
    <div class="facewall_profile_img facewall_profile_img_19"></div>
    <div class="facewall_profile_attribute">Age: 58</div>
    <div class="facewall_profile_attribute">Job: Make-up entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: American</div>
    <p class="facewall_profile_paragraph">A professional make-up artist who founded the successful Bobbi Brown Cosmetics brand in the early 1990s.</p>
    <p class="facewall_profile_paragraph">Sick of red lipstick, she was interested in celebrating rather than altering women's features, and forged a more natural look.</p>
    <p class="facewall_profile_paragraph">Bobbi features in our '100 Women Interviews' strand.</p>
</li>
<li class="facewall_profile" id="facewall_20">
    <h2 class="facewall_profile_name">Naomi Bya’Ombe</h2>
    <div class="facewall_profile_img facewall_profile_img_20"></div>
    <div class="facewall_profile_attribute">Age: 15</div>
    <div class="facewall_profile_attribute">Job: Schoolgirl</div>
    <div class="facewall_profile_attribute">Nationality: Congolese</div>
    <p class="facewall_profile_paragraph">Naomi lives in Kinshasa, DRC, and likes singing and dancing.</p>
    <p class="facewall_profile_paragraph">Naomi is the fifth child out of seven and also lives with two of her cousins. She is currently finishing secondary school and sings in the church choir every Sunday.</p>
    <p class="facewall_profile_paragraph">Naomi appears in our 'good girl' film makers strand.</p>
</li>
<li class="facewall_profile" id="facewall_21">
    <h2 class="facewall_profile_name">Massiel Chávez</h2>
    <div class="facewall_profile_img facewall_profile_img_21"></div>
    <div class="facewall_profile_attribute">Age: 15</div>
    <div class="facewall_profile_attribute">Job: Schoolgirl</div>
    <div class="facewall_profile_attribute">Nationality: Venezuelan</div>
    <p class="facewall_profile_paragraph">Massiel wants to be a vet when she is older and is a keen user of social media.</p>
    <p class="facewall_profile_paragraph">Now that she is 15 - traditionally considered the start of adulthood in Latin America - she is excited she will be allowed to paint her nails, wear make-up, and, she hopes, go out to parties alone.</p>
    <p class="facewall_profile_paragraph">Massiel appears in our 'good girl' filmmakers strand.</p>
</li>
<li class="facewall_profile" id="facewall_22">
    <h2 class="facewall_profile_name">Eveles Chimala</h2>
    <div class="facewall_profile_img facewall_profile_img_22"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Midwife</div>
    <div class="facewall_profile_attribute">Nationality: Malawian</div>
    <p class="facewall_profile_paragraph">After working in one of the busiest hospitals in Malawi, Eveles decided to go back to studying to help her country tackle its high maternal mortality rate.</p>
    <p class="facewall_profile_paragraph">She studies the partograph - a tool designed to help midwives in under-resourced hospitals in Africa monitor women as they give birth.</p>
    <p class="facewall_profile_paragraph">Eveles features in our coverage focusing on nursing across the world.</p>
</li>
<li class="facewall_profile" id="facewall_23">
    <h2 class="facewall_profile_name">Estela de Carlotto</h2>
    <div class="facewall_profile_img facewall_profile_img_23"></div>
    <div class="facewall_profile_attribute">Age: 84</div>
    <div class="facewall_profile_attribute">Job: Activist</div>
    <div class="facewall_profile_attribute">Nationality: Argentinian</div>
    <p class="facewall_profile_paragraph">Estela is President of The Grandmothers of the Plaza de Mayo, which reunites biological parents with people snatched as babies in prisons and torture centres by the 1970s’ military junta.</p>
    <p class="facewall_profile_paragraph">In August 2014, she was reunited with her grandson Ignacio in one of the most emotional scenes of Argentina's recent history.</p>
</li>
<li class="facewall_profile" id="facewall_24">
    <h2 class="facewall_profile_name">Nkoszana Dlamini-Zuma</h2>
    <div class="facewall_profile_img facewall_profile_img_24"></div>
    <div class="facewall_profile_attribute">Age: 66</div>
    <div class="facewall_profile_attribute">Job: Chair, African Union Commission</div>
    <div class="facewall_profile_attribute">Nationality: South African</div>
    <p class="facewall_profile_paragraph">A trained medical doctor, Nkoszana is the chairwoman of the African Union Commission based in Addis Ababa, Ethiopia.</p>
    <p class="facewall_profile_paragraph">Initially an ANC activist who spent some of the apartheid years in exile, she went on to enter politics, joining the AU in 2012 and is the first woman to head the organisation.</p>
</li>
<li class="facewall_profile" id="facewall_25">
    <h2 class="facewall_profile_name">Isabel dos Santos</h2>
    <div class="facewall_profile_img facewall_profile_img_25"></div>
    <div class="facewall_profile_attribute">Age: 42</div>
    <div class="facewall_profile_attribute">Job: Investor</div>
    <div class="facewall_profile_attribute">Nationality: Angolan</div>
    <p class="facewall_profile_paragraph">Isabel dos Santos is an investor and - according to Forbes - the richest woman in Africa.</p>
    <p class="facewall_profile_paragraph">She is the eldest daughter of Angola's president, Jose Eduardo dos Santos, and has investments in oil and gas, banking, telecoms and media companies.</p>
</li>
<li class="facewall_profile" id="facewall_26">
    <h2 class="facewall_profile_name">Leimin Duong</h2>
    <div class="facewall_profile_img facewall_profile_img_26"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Australian</div>
    <p class="facewall_profile_paragraph">Leimin established Zeven Lemon Beerworks with no prior industry experience and is on a mission to bring fresh perspective into the beer world, with fruity beers that "defy convention".</p>
    <p class="facewall_profile_paragraph">The company’s strawberry-flavoured brew has a wide distribution network across Australia.</p>
    <p class="facewall_profile_paragraph">Leimin appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_27">
    <h2 class="facewall_profile_name">Ernestina Edem Appiah</h2>
    <div class="facewall_profile_img facewall_profile_img_27"></div>
    <div class="facewall_profile_attribute">Age: 38</div>
    <div class="facewall_profile_attribute">Job: Social entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Ghanaian</div>
    <p class="facewall_profile_paragraph">Ernestina (Tina) is the founder of the Ghana Code Club, which works to equip Ghanaian children between the ages of 8 and 14 years with coding skills.</p>
    <p class="facewall_profile_paragraph">She wants to launch Ghana Code Club in most, if not all, basic schools in Ghana.</p>
</li>
<li class="facewall_profile" id="facewall_28">
    <h2 class="facewall_profile_name">Aissa Edon</h2>
    <div class="facewall_profile_img facewall_profile_img_28"></div>
    <div class="facewall_profile_attribute">Age: 33</div>
    <div class="facewall_profile_attribute">Job: Midwife</div>
    <div class="facewall_profile_attribute">Nationality: French</div>
    <p class="facewall_profile_paragraph">Aissa is a midwife who specialises in female genital mutilation (FGM).</p>
    <p class="facewall_profile_paragraph">Born in Mali but raised in France, she was subjected to FGM as a child. She currently works in London helping women who may have problems during pregnancy and giving birth as a result of FGM.</p>
    <p class="facewall_profile_paragraph">Aissa features in our coverage focusing on nursing across the world.</p>
</li>
<li class="facewall_profile" id="facewall_29">
    <h2 class="facewall_profile_name">Jana el-Hassan</h2>
    <div class="facewall_profile_img facewall_profile_img_29"></div>
    <div class="facewall_profile_attribute">Age: 30</div>
    <div class="facewall_profile_attribute">Job: Novelist</div>
    <div class="facewall_profile_attribute">Nationality: Lebanese</div>
    <p class="facewall_profile_paragraph">An emerging young voice from the Middle East, Jana shook off the constraints of her rural background to publish her first novel Forbidden Desires in 2009 and won the local Simon Hayek Prize.</p>
    <p class="facewall_profile_paragraph">Both of her later novels were shortlisted for the International Prize for Arab Fiction in 2013 and 2015. Her work is being translated into English and Italian.</p>
</li>
<li class="facewall_profile" id="facewall_30">
    <h2 class="facewall_profile_name">Nawal el-Sadaawi</h2>
    <div class="facewall_profile_img facewall_profile_img_30"></div>
    <div class="facewall_profile_attribute">Age: 85</div>
    <div class="facewall_profile_attribute">Job: Writer</div>
    <div class="facewall_profile_attribute">Nationality: Egyptian</div>
    <p class="facewall_profile_paragraph">A world-renowned author of more than 40 books, and a passionate advocate of women's rights in her homeland, her books have been highly influential for Egyptian women.</p>
    <p class="facewall_profile_paragraph">Her controversial work Women and Sex, which was banned in Egypt for nearly two decades, raised awareness of female sexuality and female genital mutilation.</p>
    <p class="facewall_profile_paragraph">Nawal features in our 'Vintage Ladies' strand.</p>
</li>
<li class="facewall_profile" id="facewall_31">
    <h2 class="facewall_profile_name">Paula Escobar</h2>
    <div class="facewall_profile_img facewall_profile_img_31"></div>
    <div class="facewall_profile_attribute">Age: 47</div>
    <div class="facewall_profile_attribute">Job: Magazine editor</div>
    <div class="facewall_profile_attribute">Nationality: Chilean</div>
    <p class="facewall_profile_paragraph">Paula has been changing the way women are portrayed in the local media by clamping down on Photoshop manipulation.</p>
    <p class="facewall_profile_paragraph">Paula was named a Young Global Leader by the World Economic Forum in 2006, and oversees six weekly magazines.</p>
    <p class="facewall_profile_paragraph">Paula is taking part in our 'Is Media Failing Women?' debate.</p>
</li>
<li class="facewall_profile" id="facewall_32">
    <h2 class="facewall_profile_name">Monir Farmanfarmaian</h2>
    <div class="facewall_profile_img facewall_profile_img_32"></div>
    <div class="facewall_profile_attribute">Age: 91</div>
    <div class="facewall_profile_attribute">Job: Artist</div>
    <div class="facewall_profile_attribute">Nationality: Iranian</div>
    <p class="facewall_profile_paragraph">Monir is a contemporary artist who makes intricate geometric sculptures and works on paper in a career spanning 40 years.</p>
    <p class="facewall_profile_paragraph">She spent 26 years in exile in the US as a result of the 1970s Islamic Revolution, returning to Tehran in 2004.</p>
</li>
<li class="facewall_profile" id="facewall_33">
    <h2 class="facewall_profile_name">Claire Fox</h2>
    <div class="facewall_profile_img facewall_profile_img_33"></div>
    <div class="facewall_profile_attribute">Age: 55</div>
    <div class="facewall_profile_attribute">Job: Writer and broadcaster</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Claire is a writer, broadcaster and columnist.</p>
    <p class="facewall_profile_paragraph">She is also the director of the Institute of Ideas, which she set up in order to challenge "established orthodoxies" and which organises public debates on controversial topics.</p>
    <p class="facewall_profile_paragraph">Claire is taking part in our 'Is Media Failing Women?' debate.</p>
</li>
<li class="facewall_profile" id="facewall_34">
    <h2 class="facewall_profile_name">Elissa Freiha</h2>
    <div class="facewall_profile_img facewall_profile_img_34"></div>
    <div class="facewall_profile_attribute">Age: 25</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Emirati</div>
    <p class="facewall_profile_paragraph">Elissa is the co-founder of WOMENA which aims to empower women to invest in tech startups based in the Middle East.</p>
    <p class="facewall_profile_paragraph">She was recently named as one of Forbes' Middle East's Inspiring Business Leaders of the UAE.</p>
    <p class="facewall_profile_paragraph">Elissa appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_35">
    <h2 class="facewall_profile_name">Uta Frith</h2>
    <div class="facewall_profile_img facewall_profile_img_35"></div>
    <div class="facewall_profile_attribute">Age: 74</div>
    <div class="facewall_profile_attribute">Job: Psychologist</div>
    <div class="facewall_profile_attribute">Nationality: German</div>
    <p class="facewall_profile_paragraph">Uta is Emeritus Professor of Cognitive Development at University College London.</p>
    <p class="facewall_profile_paragraph">She is best-known for her work on autism and dyslexia and is currently chairwoman of the Royal Society’s Diversity Committee.</p>
    <p class="facewall_profile_paragraph"></p>
</li>
<li class="facewall_profile" id="facewall_36">
    <h2 class="facewall_profile_name">Melanie Goldsmith</h2>
    <div class="facewall_profile_img facewall_profile_img_36"></div>
    <div class="facewall_profile_attribute">Age: 26</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Melanie's alcoholic sweets are now sold in high-end London high street stores after she made them for a dating event she ran.</p>
    <p class="facewall_profile_paragraph">Her company Smith and Sinclair has created edible cocktails for more than 32 brands of alcohol.</p>
    <p class="facewall_profile_paragraph">Melanie appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_37">
    <h2 class="facewall_profile_name">Alina Gracheva</h2>
    <div class="facewall_profile_img facewall_profile_img_37"></div>
    <div class="facewall_profile_attribute">Age: 45</div>
    <div class="facewall_profile_attribute">Job: Camerawoman</div>
    <div class="facewall_profile_attribute">Nationality: Moldovan</div>
    <p class="facewall_profile_paragraph">Alina found herself in a very male-dominated environment when she started her career as a camerawoman 15 years ago.</p>
    <p class="facewall_profile_paragraph">She has covered Chechnya, Afghanistan, Iraq and the Beslan school siege, which had a profound effect on her, and now works for Al Jazeera.</p>
</li>
<li class="facewall_profile" id="facewall_38">
    <h2 class="facewall_profile_name">Megan Grano</h2>
    <div class="facewall_profile_img facewall_profile_img_38"></div>
    <div class="facewall_profile_attribute">Age: 37</div>
    <div class="facewall_profile_attribute">Job: Comedian</div>
    <div class="facewall_profile_attribute">Nationality: American</div>
    <p class="facewall_profile_paragraph">One third of viral comedy trio The BreakWomb, Megan along with Molly Erdman and Laurel Coppock makes a sketch a week for YouTube about the trials of motherhood.</p>
    <p class="facewall_profile_paragraph">Megan is also a writer, actor and director who regularly appears in sketches on American late night talk show Conan.</p>
</li>
<li class="facewall_profile" id="facewall_39">
    <h2 class="facewall_profile_name">Alice Gray</h2>
    <div class="facewall_profile_img facewall_profile_img_39"></div>
    <div class="facewall_profile_attribute">Age: 23</div>
    <div class="facewall_profile_attribute">Job: Blogger</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Alice Gray graduated from Cardiff University with a BSc in Neuroscience in 2013 and has been blogging ever since. Her blog, mindful.blogspot.co.uk, discusses issues which women face in science, technology, engineering and maths (Stem).</p>
    <p class="facewall_profile_paragraph">She aims to improve the number of women in the industry and has been involved in inquiries into Stem education in Wales.</p>
</li>
<li class="facewall_profile" id="facewall_40">
    <h2 class="facewall_profile_name">Sara Jane Ho</h2>
    <div class="facewall_profile_img facewall_profile_img_40"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Hong Kong Chinese</div>
    <p class="facewall_profile_paragraph">Sara Jane founded Institute Sarita which runs two etiquette schools in China teaching the importance of manners and etiquette in Chinese culture, especially in the business world.</p>
    <p class="facewall_profile_paragraph">She plans to expand her brand into a lifestyle network.</p>
    <p class="facewall_profile_paragraph">Sara Jane features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_41">
    <h2 class="facewall_profile_name">Michaela Hollywood</h2>
    <div class="facewall_profile_img facewall_profile_img_41"></div>
    <div class="facewall_profile_attribute">Age: 25</div>
    <div class="facewall_profile_attribute">Job: Campaigner</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Michaela, who has the congenital muscle wasting condition Spinal Muscular Atrophy, has been recognised by the UK Prime Minister for her services to young disabled people.</p>
    <p class="facewall_profile_paragraph">The student from County Down in Northern Ireland has raised more than £10,000 for charity, but has also encouraged hundreds of others to fundraise themselves.</p>
</li>
<li class="facewall_profile" id="facewall_42">
    <h2 class="facewall_profile_name">Ella Ingram</h2>
    <div class="facewall_profile_img facewall_profile_img_42"></div>
    <div class="facewall_profile_attribute">Age: 21</div>
    <div class="facewall_profile_attribute">Job: Campaigner</div>
    <div class="facewall_profile_attribute">Nationality: Australian</div>
    <p class="facewall_profile_paragraph">Ella is challenging an $18.5-billion insurance giant over its decision to reject her travel insurance claim after she was hospitalised at the age of 17 with depression.</p>
    <p class="facewall_profile_paragraph">Her case, an Australian-first, will have ramifications for thousands of others as it tests the lawfulness of discrimination on the grounds of mental illness.</p>
</li>
<li class="facewall_profile" id="facewall_43">
    <h2 class="facewall_profile_name">Ayesha Ishtiaq</h2>
    <div class="facewall_profile_img facewall_profile_img_43"></div>
    <div class="facewall_profile_attribute">Age: 17</div>
    <div class="facewall_profile_attribute">Job: Schoolgirl</div>
    <div class="facewall_profile_attribute">Nationality: Pakistani</div>
    <p class="facewall_profile_paragraph">Ayesha is a grade 12 student from Islamabad who is passionate about tackling the sexism she sees in her society.</p>
    <p class="facewall_profile_paragraph">She conducts feminist and human rights talks with friends and plans to study journalism or women's studies in the US before returning to Pakistan to help others.</p>
    <p class="facewall_profile_paragraph">Ayesha appears in our 'good girl' filmmakers strand.</p>
</li>
<li class="facewall_profile" id="facewall_44">
    <h2 class="facewall_profile_name">Somayya Jabarti</h2>
    <div class="facewall_profile_img facewall_profile_img_44"></div>
    <div class="facewall_profile_attribute">Age: 44</div>
    <div class="facewall_profile_attribute">Job: Newspaper editor</div>
    <div class="facewall_profile_attribute">Nationality: Saudi Arabian</div>
    <p class="facewall_profile_paragraph">Somayya leads the Saudi Gazette, a Jeddah-based English daily, as Saudi Arabia's first ever female editor in chief.</p>
    <p class="facewall_profile_paragraph">It is rare for female journalists to be promoted to such a public position in Saudi Arabia. When she took the job, she said that "there's a crack that has been made in the glass ceiling. And I'm hoping it will be made into a door".</p>
    <p class="facewall_profile_paragraph">Somayya is taking part in our 'Is Media Failing Women?' debate.</p>
</li>
<li class="facewall_profile" id="facewall_45">
    <h2 class="facewall_profile_name">Azza Jadalla</h2>
    <div class="facewall_profile_img facewall_profile_img_45"></div>
    <div class="facewall_profile_attribute">Age: 27</div>
    <div class="facewall_profile_attribute">Job: Nurse</div>
    <div class="facewall_profile_attribute">Nationality: Palestinian</div>
    <p class="facewall_profile_paragraph">Azza is one of the youngest heads of a hospital ward in Gaza City's Shifa practice.</p>
    <p class="facewall_profile_paragraph">The daily challenges of life in Gaza, including electricity cuts and chronic shortages, make her job in the haematology ward especially tough.</p>
    <p class="facewall_profile_paragraph">Azza features in our coverage focusing on nursing across the world.</p>
</li>
<li class="facewall_profile" id="facewall_46">
    <h2 class="facewall_profile_name">Misraa Jimaa</h2>
    <div class="facewall_profile_img facewall_profile_img_46"></div>
    <div class="facewall_profile_attribute">Job: Health extension worker</div>
    <div class="facewall_profile_attribute">Nationality: Ethiopian</div>
    <p class="facewall_profile_paragraph">Misraa works in a local community after receiving a year's training in preventative health care.</p>
    <p class="facewall_profile_paragraph">She helps educate local people about health issues, family planning, vaccinations and nutrition, and works particularly with mothers and young children.</p>
    <p class="facewall_profile_paragraph">Misraa features in our coverage focusing on nursing across the world.</p>
</li>
<li class="facewall_profile" id="facewall_47">
    <h2 class="facewall_profile_name">Samantha John</h2>
    <div class="facewall_profile_img facewall_profile_img_47"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: American</div>
    <p class="facewall_profile_paragraph">Samantha is the CTO and co-founder of Hopscotch, a mobile app enabling children to create and share their own mobile games.</p>
    <p class="facewall_profile_paragraph">Samantha studied applied maths and then worked as an engineer before realising she preferred programming.</p>
    <p class="facewall_profile_paragraph">Samantha appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_48">
    <h2 class="facewall_profile_name">Kamini Kaushal</h2>
    <div class="facewall_profile_img facewall_profile_img_48"></div>
    <div class="facewall_profile_attribute">Age: 88</div>
    <div class="facewall_profile_attribute">Job: Former Bollywood actress</div>
    <div class="facewall_profile_attribute">Nationality: Indian</div>
    <p class="facewall_profile_paragraph">The Vivienne Leigh of her generation in Bollywood, Kamini has acted in more than 100 films.</p>
    <p class="facewall_profile_paragraph">She was the leading actress in Neecha Nagar, which won best film in Cannes in 1946 - the first Indian film to do so.</p>
    <p class="facewall_profile_paragraph">Kamini features in our 'Vintage Ladies' strand.</p>
</li>
<li class="facewall_profile" id="facewall_49">
    <h2 class="facewall_profile_name">Tahmina Kohistani</h2>
    <div class="facewall_profile_img facewall_profile_img_49"></div>
    <div class="facewall_profile_attribute">Age: 26</div>
    <div class="facewall_profile_attribute">Job: Sprinter</div>
    <div class="facewall_profile_attribute">Nationality: Afghan</div>
    <p class="facewall_profile_paragraph">A 100 metres runner, Tahmina was Afghanistan's only representative at the 2012 London Olympics despite facing fierce opposition in her home country.</p>
    <p class="facewall_profile_paragraph">She failed to make it to the first round but achieved a personal best in the preliminary trials and has postponed her wedding to take part in next year's Olympics in Brazil.</p>
</li>
<li class="facewall_profile" id="facewall_50">
    <h2 class="facewall_profile_name">Rimppi Kumari</h2>
    <div class="facewall_profile_img facewall_profile_img_50"></div>
    <div class="facewall_profile_attribute">Age: 32</div>
    <div class="facewall_profile_attribute">Job: Farmer</div>
    <div class="facewall_profile_attribute">Nationality: Indian</div>
    <p class="facewall_profile_paragraph">Rimppi Kumari is a farmer who, along with her sister Karamjit, took over a 32-acre farm in Rajasthan after their father died.</p>
    <p class="facewall_profile_paragraph">She is the boss, and their older brother, who is married with children, takes a back seat role.</p>
</li>
<li class="facewall_profile" id="facewall_51">
    <h2 class="facewall_profile_name">Linda Kwamboka</h2>
    <div class="facewall_profile_img facewall_profile_img_51"></div>
    <div class="facewall_profile_attribute">Age: 27</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Kenyan</div>
    <p class="facewall_profile_paragraph">Linda co-founded MFarm Ltd which aims to empower farmers, both in Kenya and around the globe.</p>
    <p class="facewall_profile_paragraph">The company provides farmers with a transparency tool which gives them up-to-date market information, aggregates farmers' needs and orders, and connects them so they can sell collectively.</p>
    <p class="facewall_profile_paragraph">Linda appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_52">
    <h2 class="facewall_profile_name">Tina Lavendar</h2>
    <div class="facewall_profile_img facewall_profile_img_52"></div>
    <div class="facewall_profile_attribute">Age: 49</div>
    <div class="facewall_profile_attribute">Job: Midwife</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Dame Tina is one of the world's top experts in midwifery, specialising in prolonged labour and the use of the partograph - a tool designed to help midwives monitor births.</p>
    <p class="facewall_profile_paragraph">She acts as an advisor to the World Health Organisation and developed a board game designed to increase the use of the tool in Africa.</p>
    <p class="facewall_profile_paragraph">Tina features in our coverage focusing on nursing across the world.</p>
</li>
<li class="facewall_profile" id="facewall_53">
    <h2 class="facewall_profile_name">Zihan Ling</h2>
    <div class="facewall_profile_img facewall_profile_img_53"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Chinese</div>
    <p class="facewall_profile_paragraph">Zihan is the founder and CEO of TechBase, the first tech accelerator for women-led startups in China.</p>
    <p class="facewall_profile_paragraph">She is keen to improve gender equality in the technology industry and has initiated the first Lean In tech mentorship programme in China.</p>
    <p class="facewall_profile_paragraph">Zihan appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_54">
    <h2 class="facewall_profile_name">Lt Commander Zimasa Mabela</h2>
    <div class="facewall_profile_img facewall_profile_img_54"></div>
    <div class="facewall_profile_attribute">Age: 38</div>
    <div class="facewall_profile_attribute">Job: Naval captain</div>
    <div class="facewall_profile_attribute">Nationality: South African</div>
    <p class="facewall_profile_paragraph">Zimasa grew up in the rural Eastern Cape of South Africa and did not see the sea until she was 18 years old.</p>
    <p class="facewall_profile_paragraph">Inspired by a navy presentation at university, she applied for and won her first job as a radio control official in 1999. She lives in Cape Town.</p>
</li>
<li class="facewall_profile" id="facewall_55">
    <h2 class="facewall_profile_name">Emi Mahmoud</h2>
    <div class="facewall_profile_img facewall_profile_img_55"></div>
    <div class="facewall_profile_attribute">Age: 22</div>
    <div class="facewall_profile_attribute">Job: Poet</div>
    <div class="facewall_profile_attribute">Nationality: Sudanese-American</div>
    <p class="facewall_profile_paragraph">A poet and activist originating from Darfur, Emi Mahmoud is the reigning World Poetry Slam Champion of 2015.</p>
    <p class="facewall_profile_paragraph">Emi is currently a senior at Yale University studying Anthropology and Molecular Biology. Her goal is to alleviate structural disparities in maternal and child health and to empower women across the world through poetry and the power of voice.</p>
</li>
<li class="facewall_profile" id="facewall_56">
    <h2 class="facewall_profile_name">Catherine Mahugu</h2>
    <div class="facewall_profile_img facewall_profile_img_56"></div>
    <div class="facewall_profile_attribute">Age: 27</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Kenyan</div>
    <p class="facewall_profile_paragraph">The founder of Soko, an e-commerce platform which allows local artisans to sell handcrafted jewellery directly to the consumer.</p>
    <p class="facewall_profile_paragraph">Her idea is to promote direct trade between African designers and customers worldwide.</p>
    <p class="facewall_profile_paragraph">Catherine features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_57">
    <h2 class="facewall_profile_name">Amara Majeed</h2>
    <div class="facewall_profile_img facewall_profile_img_57"></div>
    <div class="facewall_profile_attribute">Age: 18</div>
    <div class="facewall_profile_attribute">Job: Activist/author</div>
    <div class="facewall_profile_attribute">Nationality: American</div>
    <p class="facewall_profile_paragraph">Amara wrote The Foreigners in an attempt to eradicate stereotypes about Muslims.</p>
    <p class="facewall_profile_paragraph">At 16 she founded The Hijab Project which encourages Muslim and non-Muslim women to try wearing the garment and share their experiences on social media.</p>
</li>
<li class="facewall_profile" id="facewall_58">
    <h2 class="facewall_profile_name">Nemata Majeks-Walker</h2>
    <div class="facewall_profile_img facewall_profile_img_58"></div>
    <div class="facewall_profile_attribute">Age: 68</div>
    <div class="facewall_profile_attribute">Job: Activist</div>
    <div class="facewall_profile_attribute">Nationality: Sierra Leonean</div>
    <p class="facewall_profile_paragraph">In 2001, Nemata founded the 50/50 Group of Sierra Leone. which encourages and empowers the country’s women to participate in politics.</p>
    <p class="facewall_profile_paragraph">The organisation became the first African group to win the coveted Madeleine Albright Award, in 2007.</p>
</li>
<li class="facewall_profile" id="facewall_59">
    <h2 class="facewall_profile_name">Katrine Marcal</h2>
    <div class="facewall_profile_img facewall_profile_img_59"></div>
    <div class="facewall_profile_attribute">Age: 32</div>
    <div class="facewall_profile_attribute">Job: Economist</div>
    <div class="facewall_profile_attribute">Nationality: Swedish</div>
    <p class="facewall_profile_paragraph">Katrine is the author of Who Cooked Adam Smith's Dinner?, a feminist view of economics, shortlisted for the August Prize and won the Lagercrantzen Award in Sweden.</p>
    <p class="facewall_profile_paragraph">She is also the lead editorial writer for the Swedish newspaper Aftonbladet.</p>
</li>
<li class="facewall_profile" id="facewall_60">
    <h2 class="facewall_profile_name">Karabo Mathang</h2>
    <div class="facewall_profile_img facewall_profile_img_60"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: South African</div>
    <p class="facewall_profile_paragraph">Karabo is South Africa's first Fifa-accredited soccer agent.</p>
    <p class="facewall_profile_paragraph">She founded P Management to scout for amateur talents and help them to win professional contracts.</p>
    <p class="facewall_profile_paragraph">Karabo features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_61">
    <h2 class="facewall_profile_name">Muniba Mazari</h2>
    <div class="facewall_profile_img facewall_profile_img_61"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Artist and anchorwoman.</div>
    <div class="facewall_profile_attribute">Nationality: Pakistani</div>
    <p class="facewall_profile_paragraph">Muniba, who lost the use of her legs in a car accident seven and a half years ago, is Pakistan's first wheelchair-bound model and the first wheelchair-bound anchor working for the country’s state channel.</p>
    <p class="facewall_profile_paragraph">She began painting while still in hospital and hopes to spread the message of hope through her work.</p>
</li>
<li class="facewall_profile" id="facewall_62">
    <h2 class="facewall_profile_name">Jessy McCabe</h2>
    <div class="facewall_profile_img facewall_profile_img_62"></div>
    <div class="facewall_profile_attribute">Age: 17</div>
    <div class="facewall_profile_attribute">Job: Schoolgirl</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Jessy is in her final year of school and is currently studying for her A Levels in music, maths and history.</p>
    <p class="facewall_profile_paragraph">After realising she was not studying even one female composer as part of her music A Level, she successfully petitioned the largest exam board in the UK to change the syllabus.</p>
</li>
<li class="facewall_profile" id="facewall_63">
    <h2 class="facewall_profile_name">Sania Mirza</h2>
    <div class="facewall_profile_img facewall_profile_img_63"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Tennis player</div>
    <div class="facewall_profile_attribute">Nationality: Indian</div>
    <p class="facewall_profile_paragraph">Sania is currently ranked the world's women's doubles number one.</p>
    <p class="facewall_profile_paragraph">She is one of India's most successful tennis players and in 2015 was both the Wimbledon and US Open women's doubles champion.</p>
    <p class="facewall_profile_paragraph">Sania features in our '100 Women Interviews' strand.</p>
</li>
<li class="facewall_profile" id="facewall_64">
    <h2 class="facewall_profile_name">Brit Morin</h2>
    <div class="facewall_profile_img facewall_profile_img_64"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: American</div>
    <p class="facewall_profile_paragraph">Brit is the founder and CEO of Brit + Co, a new media and commerce company.</p>
    <p class="facewall_profile_paragraph">The company aims to enables creativity among women and girls through online classes and do-it-yourself kits.</p>
    <p class="facewall_profile_paragraph">Brit appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_65">
    <h2 class="facewall_profile_name">Smriti Nagpal</h2>
    <div class="facewall_profile_img facewall_profile_img_65"></div>
    <div class="facewall_profile_attribute">Age: 25</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Indian</div>
    <p class="facewall_profile_paragraph">Smriti was inspired by her work as a sign language interpreter in India, which has the largest deaf population in the world, to set up Atulyakala.</p>
    <p class="facewall_profile_paragraph">The organisation sells products like bags, mugs, wallets and journals by deaf designers.</p>
    <p class="facewall_profile_paragraph">Smriti features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_66">
    <h2 class="facewall_profile_name">Pauline Ng</h2>
    <div class="facewall_profile_img facewall_profile_img_66"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Singaporean</div>
    <p class="facewall_profile_paragraph">Pauline teamed up with her mother in 2009 to set up an award-winning facial spa called Porcelain.</p>
    <p class="facewall_profile_paragraph">It encourages customers to stop wearing foundation so their skin can breathe.</p>
    <p class="facewall_profile_paragraph">Pauline appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_67">
    <h2 class="facewall_profile_name">Delaney Osborne</h2>
    <div class="facewall_profile_img facewall_profile_img_67"></div>
    <div class="facewall_profile_attribute">Age: 17</div>
    <div class="facewall_profile_attribute">Job: Schoolgirl</div>
    <div class="facewall_profile_attribute">Nationality: American</div>
    <p class="facewall_profile_paragraph">Delaney is expecting a baby with her 20-year-old boyfriend in April.</p>
    <p class="facewall_profile_paragraph">She lives with her mum in a small village outside Madison, Wisconsin, and is still at school.</p>
    <p class="facewall_profile_paragraph">Delaney appears in our 'good girl' filmmakers strand.</p>
</li>
<li class="facewall_profile" id="facewall_68">
    <h2 class="facewall_profile_name">Bel Pesce</h2>
    <div class="facewall_profile_img facewall_profile_img_68"></div>
    <div class="facewall_profile_attribute">Age: 26</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Brazilian</div>
    <p class="facewall_profile_paragraph">Bel returned to Brazil to launch her own company after graduating from the Massachusetts Institute of Technology.</p>
    <p class="facewall_profile_paragraph">FazINOVA is a business school offering free online courses.</p>
    <p class="facewall_profile_paragraph">Bel features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_69">
    <h2 class="facewall_profile_name">Verashni Pillay</h2>
    <div class="facewall_profile_img facewall_profile_img_69"></div>
    <div class="facewall_profile_attribute">Age: 31</div>
    <div class="facewall_profile_attribute">Job: Newspaper editor</div>
    <div class="facewall_profile_attribute">Nationality: South African</div>
    <p class="facewall_profile_paragraph">Verashni is editor-in chief of the Mail & Guardian, South Africa's premier independent investigative publication.</p>
    <p class="facewall_profile_paragraph">She also received the CNN African Journalism Award, a Standard Bank Sikuvile Award and an Open Society Foundation journalism fellowship.</p>
    <p class="facewall_profile_paragraph">Verashni is taking part in our 'Is Media Failing Women?' debate.</p>
</li>
<li class="facewall_profile" id="facewall_70">
    <h2 class="facewall_profile_name">Irina Polyakova</h2>
    <div class="facewall_profile_img facewall_profile_img_70"></div>
    <div class="facewall_profile_attribute">Age: 54</div>
    <div class="facewall_profile_attribute">Job: Paralympian</div>
    <div class="facewall_profile_attribute">Nationality: Russian</div>
    <p class="facewall_profile_paragraph">Three-times world champion in skiing, including Gold-medal winner at the Winter Paralympics in 2006 for the cross-country event.</p>
    <p class="facewall_profile_paragraph">Irina is also a medal winner for swimming, biathlon and arm wrestling and a coach.</p>
</li>
<li class="facewall_profile" id="facewall_71">
    <h2 class="facewall_profile_name">Elsa Prieto</h2>
    <div class="facewall_profile_img facewall_profile_img_71"></div>
    <div class="facewall_profile_attribute">Age: 27</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: French</div>
    <p class="facewall_profile_paragraph">Technical director and co-founder of Pili Pop, a language learning app for children focused on oral skills and total immersion.</p>
    <p class="facewall_profile_paragraph">Pili Pop English has been downloaded more than 500,000 times and the company has just released Pili Pop Español for learning Spanish.</p>
    <p class="facewall_profile_paragraph">Elsa appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_72">
    <h2 class="facewall_profile_name">Cristina Randall</h2>
    <div class="facewall_profile_img facewall_profile_img_72"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Canadian</div>
    <p class="facewall_profile_paragraph">Cristina moved from Canada to Mexico and founded Conekta, an online payment system.</p>
    <p class="facewall_profile_paragraph">It is designed to allow businesses that normally lack access to the usual commercial channels, such as outdoor markets, to move their transactions online.</p>
    <p class="facewall_profile_paragraph">Cristina features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_73">
    <h2 class="facewall_profile_name">Claire Reid</h2>
    <div class="facewall_profile_img facewall_profile_img_73"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: South African</div>
    <p class="facewall_profile_paragraph">Claire designed Reel Gardening in a bid to simplify gardening.</p>
    <p class="facewall_profile_paragraph">The company provides biodegradable strips which anchor the seeds at the correct depth and distance apart and so just need to be planted and watered.</p>
    <p class="facewall_profile_paragraph">Claire appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_74">
    <h2 class="facewall_profile_name">Jenni Rhodes</h2>
    <div class="facewall_profile_img facewall_profile_img_74"></div>
    <div class="facewall_profile_attribute">Age: 83</div>
    <div class="facewall_profile_attribute">Job: Textile designer</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Jenni is a recently retired model, former actress and fashion designer, she is still working hard.</p>
    <p class="facewall_profile_paragraph">At the age of 83, when many people are in comfortable in retirement, she has started a new career as a textile designer.</p>
    <p class="facewall_profile_paragraph">Jenni features in our 'Vintage Ladies' strand.</p>
</li>
<li class="facewall_profile" id="facewall_75">
    <h2 class="facewall_profile_name">Nikita Ridgeway</h2>
    <div class="facewall_profile_img facewall_profile_img_75"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Australian</div>
    <p class="facewall_profile_paragraph">Nikita is the founder and CEO of Dreamtime Ink Australia, the only company specialising in Aboriginal tattoos.</p>
    <p class="facewall_profile_paragraph">She is also the owner of Boss Lady Creative Design Agency which aims to provide Aboriginal designs at affordable prices.</p>
    <p class="facewall_profile_paragraph">Nikita features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_76">
    <h2 class="facewall_profile_name">Neyda Rojas</h2>
    <div class="facewall_profile_img facewall_profile_img_76"></div>
    <div class="facewall_profile_attribute">Age: 52</div>
    <div class="facewall_profile_attribute">Job: Nun</div>
    <div class="facewall_profile_attribute">Nationality: Venezuelan</div>
    <p class="facewall_profile_paragraph">Venezuela has some of the most understaffed, under-resourced and overcrowded jails in the world, and Neyda has been visiting them for 17 years. She is known as ‘the white drop’ - a reference to her nun’s habit.</p>
    <p class="facewall_profile_paragraph">In addition to teaching History and Maths to the inmates, she has been involved in kidnapping mediation, delivering babies, and helping the sick.</p>
</li>
<li class="facewall_profile" id="facewall_77">
    <h2 class="facewall_profile_name">Lubov Russkina</h2>
    <div class="facewall_profile_img facewall_profile_img_77"></div>
    <div class="facewall_profile_attribute">Age: 22</div>
    <div class="facewall_profile_attribute">Job: Nomad</div>
    <div class="facewall_profile_attribute">Nationality: Russian</div>
    <p class="facewall_profile_paragraph">Lubov lives in Surgut, Siberia, and is part of a nomad reindeer tribe that has been in the area since ancient times.</p>
    <p class="facewall_profile_paragraph">Lubov is now facing a common decision that many young girls in her tribe have to confront - to stay as a nomad or to leave for a more urban life.</p>
    <p class="facewall_profile_paragraph">Lubov appears in our 'good girl' filmmakers strand.</p>
</li>
<li class="facewall_profile" id="facewall_78">
    <h2 class="facewall_profile_name">Rabia Salihu Said</h2>
    <div class="facewall_profile_img facewall_profile_img_78"></div>
    <div class="facewall_profile_attribute">Age: 52</div>
    <div class="facewall_profile_attribute">Job: Physicist</div>
    <div class="facewall_profile_attribute">Nationality: Nigerian</div>
    <p class="facewall_profile_paragraph">Rabia is a physicist who has been involved with national and local projects which encourage young people to enter the field of science for 30 years.</p>
    <p class="facewall_profile_paragraph">A mother of six, she received the Elsevier award in 2015 for her work on climate and deforestation.</p>
</li>
<li class="facewall_profile" id="facewall_79">
    <h2 class="facewall_profile_name">Amina Sboui</h2>
    <div class="facewall_profile_img facewall_profile_img_79"></div>
    <div class="facewall_profile_attribute">Age: 21</div>
    <div class="facewall_profile_attribute">Job: Writer and activist</div>
    <div class="facewall_profile_attribute">Nationality: Tunisian</div>
    <p class="facewall_profile_paragraph">Amina made headlines in 2013 by publishing a topless photograph of herself on Facebook with “my body belongs to me and is not the source of anyone’s honour” written across her torso.</p>
    <p class="facewall_profile_paragraph">After being jailed for feminist graffiti Amina went to Paris to study. She has recently returned to Tunisia, where she edits and publishes a feminist magazine.</p>
</li>
<li class="facewall_profile" id="facewall_80">
    <h2 class="facewall_profile_name">Lorrana Scarpioni</h2>
    <div class="facewall_profile_img facewall_profile_img_80"></div>
    <div class="facewall_profile_attribute">Age: 24</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Brazilian</div>
    <p class="facewall_profile_paragraph">The founder of Biilive, a sharing economy site which allows people to swap expertise rather than doing jobs for money.</p>
    <p class="facewall_profile_paragraph">After a successful launch in Brazil, she is now expanding into Europe.</p>
    <p class="facewall_profile_paragraph">Lorrana features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_81">
    <h2 class="facewall_profile_name">Louise Schwartz</h2>
    <div class="facewall_profile_img facewall_profile_img_81"></div>
    <div class="facewall_profile_attribute">Age: 87</div>
    <div class="facewall_profile_attribute">Job: Former showgirl</div>
    <div class="facewall_profile_attribute">Nationality: Jamaican</div>
    <p class="facewall_profile_paragraph">Louise is a former showgirl who partied with her next door neighbour Hugh Hefner and ran a popular bar in the 1980s open to both gay and straight patrons - unusual for that time in Jamaica.</p>
    <p class="facewall_profile_paragraph">Now in her late 80s, she struggles to make ends meet but still refuses to call it a night.</p>
    <p class="facewall_profile_paragraph">Louise features in our 'Vintage Ladies' strand.</p>
</li>
<li class="facewall_profile" id="facewall_82">
    <h2 class="facewall_profile_name">Baroness Patricia Scotland</h2>
    <div class="facewall_profile_img facewall_profile_img_82"></div>
    <div class="facewall_profile_attribute">Age: 60</div>
    <div class="facewall_profile_attribute">Job: Trade envoy</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Patricia is a British barrister and former UK attorney general.</p>
    <p class="facewall_profile_paragraph">She was appointed Britain’s first black female Queen’s Counsel in 1991, is currently Britain’s trade envoy to South Africa and is the founder of the Corporate Alliance Against Domestic Violence.</p>
</li>
<li class="facewall_profile" id="facewall_83">
    <h2 class="facewall_profile_name">Mumtaz Shaikh</h2>
    <div class="facewall_profile_img facewall_profile_img_83"></div>
    <div class="facewall_profile_attribute">Age: 33</div>
    <div class="facewall_profile_attribute">Job: Campaigner</div>
    <div class="facewall_profile_attribute">Nationality: Indian</div>
    <p class="facewall_profile_paragraph">After decades of women being charged to use urinals in India, despite the fact they are free for men, she succeeded in providing free facilities for women through the Right to Pee network.</p>
    <p class="facewall_profile_paragraph">She ensured 96 toilets were free for women to use in Mumbai and made the government set aside 50 million rupees ($770) to build female-only urinals around the city.</p>
</li>
<li class="facewall_profile" id="facewall_84">
    <h2 class="facewall_profile_name">Nareen Shammo</h2>
    <div class="facewall_profile_img facewall_profile_img_84"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Activist/journalist</div>
    <div class="facewall_profile_attribute">Nationality: Iraqi</div>
    <p class="facewall_profile_paragraph">Nareen has dedicated herself to trying to free Yazidi slave women captured by so-called Islamic State militants.</p>
    <p class="facewall_profile_paragraph">The former journalist has saved hundreds of women of the Yazidi population - an ethno-religious group - who were raped, sold on slavery markets and forced to convert to Islam.</p>
</li>
<li class="facewall_profile" id="facewall_85">
    <h2 class="facewall_profile_name">Rasha Shehada</h2>
    <div class="facewall_profile_img facewall_profile_img_85"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Manufacturing director</div>
    <div class="facewall_profile_attribute">Nationality: Emirati</div>
    <p class="facewall_profile_paragraph">The managing director of Diamond Line FZE, a family-owned hotel equipment supplies business.</p>
    <p class="facewall_profile_paragraph">The company started specialising in hotel supplies and now also has a manufacturing plant which produces chafing fuels which can be burned in small canisters and used for heating food.</p>
    <p class="facewall_profile_paragraph">Rasha features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_86">
    <h2 class="facewall_profile_name">Zuzanna Stanska</h2>
    <div class="facewall_profile_img facewall_profile_img_86"></div>
    <div class="facewall_profile_attribute">Age: 27</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Polish</div>
    <p class="facewall_profile_paragraph">Zuzanna runs a creative consultancy for cultural institutions and museums that allows visitors to interact with the art on display via a mobile app.</p>
    <p class="facewall_profile_paragraph">She is also the creator of another app, DailyArt, which gives the user a chance to learn about one art masterpiece a day.</p>
    <p class="facewall_profile_paragraph">Zuzanna features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_87">
    <h2 class="facewall_profile_name">Michelle Sun</h2>
    <div class="facewall_profile_img facewall_profile_img_87"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Hong Kong Chinese</div>
    <p class="facewall_profile_paragraph">After a stint in Silicon Valley, Michelle returned home to Hong Kong to found First Code Academy which introduces coding and computer programming into schools.</p>
    <p class="facewall_profile_paragraph">The academy also provides courses on computer literacy for young children.</p>
    <p class="facewall_profile_paragraph">Michelle features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_88">
    <h2 class="facewall_profile_name">Hilary Swank</h2>
    <div class="facewall_profile_img facewall_profile_img_88"></div>
    <div class="facewall_profile_attribute">Age: 41</div>
    <div class="facewall_profile_attribute">Job: Actor</div>
    <div class="facewall_profile_attribute">Nationality: American</div>
    <p class="facewall_profile_paragraph">Hilary is an American actress and producer. She is the winner of two Academy and Golden Globe Awards for Best Actress (Boys Don't Cry, Million Dollar Baby).</p>
    <p class="facewall_profile_paragraph">She is renowned for her portrayal of strong, sometimes troubled characters.</p>
    <p class="facewall_profile_paragraph">Hilary features in our '100 Women Interviews' strand.</p>
</li>
<li class="facewall_profile" id="facewall_89">
    <h2 class="facewall_profile_name">Julie Sygiel</h2>
    <div class="facewall_profile_img facewall_profile_img_89"></div>
    <div class="facewall_profile_attribute">Age: 27</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: American</div>
    <p class="facewall_profile_paragraph">Julie has used her chemical engineering background to develop a patent-pending fabric for knickers which helps protect against menstruation and minor incontinence leaks.</p>
    <p class="facewall_profile_paragraph">Dear Kate specialises in high-performance underwear in a range of different styles and colours.</p>
    <p class="facewall_profile_paragraph">Julie appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_90">
    <h2 class="facewall_profile_name">Rotana Tarabzouni</h2>
    <div class="facewall_profile_img facewall_profile_img_90"></div>
    <div class="facewall_profile_attribute">Age: 26</div>
    <div class="facewall_profile_attribute">Job: Singer/songwriter</div>
    <div class="facewall_profile_attribute">Nationality: Saudi Arabian</div>
    <p class="facewall_profile_paragraph">Rotana came to international prominence two years ago when she leant her voice to the Women's Driving Campaign in Saudi Arabia.</p>
    <p class="facewall_profile_paragraph">Currently living in LA, she sings about the challenges back in Saudi, and the Arab world generally, and is planning to soon go home to face up to her critics.</p>
</li>
<li class="facewall_profile" id="facewall_91">
    <h2 class="facewall_profile_name">Kanika Tekriwal</h2>
    <div class="facewall_profile_img facewall_profile_img_91"></div>
    <div class="facewall_profile_attribute">Age: 27</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Indian</div>
    <p class="facewall_profile_paragraph">After being diagnosed with cancer in her early 20s, Kanika was determined to make her mark.</p>
    <p class="facewall_profile_paragraph">She established India’s first and only marketplace for private jet and helicopter charters.</p>
    <p class="facewall_profile_paragraph">Kanika features in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_92">
    <h2 class="facewall_profile_name">Lizanne Teo</h2>
    <div class="facewall_profile_img facewall_profile_img_92"></div>
    <div class="facewall_profile_attribute">Age: 21</div>
    <div class="facewall_profile_attribute">Job: Entrepreneurs</div>
    <div class="facewall_profile_attribute">Nationality: Singaporean</div>
    <p class="facewall_profile_paragraph">Lizanne is the co-founder of Upsurge, an events company specialising in rock concerts.</p>
    <p class="facewall_profile_paragraph">Upsurge handles every aspect of the business, from logistics and operations to production and public relations, despite being a start-up with limited financial resources.</p>
    <p class="facewall_profile_paragraph">Lizanne appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_93">
    <h2 class="facewall_profile_name">Jana Tepe</h2>
    <div class="facewall_profile_img facewall_profile_img_93"></div>
    <div class="facewall_profile_attribute">Age: 29</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: German</div>
    <p class="facewall_profile_paragraph">Jana is founder and CEO of Tandemploy, a job-sharing platform.</p>
    <p class="facewall_profile_paragraph">It is designed to allow people interested in job sharing to find their counterparts and get in touch with companies offering job sharing opportunities.</p>
    <p class="facewall_profile_paragraph">Jana appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_94">
    <h2 class="facewall_profile_name">Li Tingting</h2>
    <div class="facewall_profile_img facewall_profile_img_94"></div>
    <div class="facewall_profile_attribute">Age: 26</div>
    <div class="facewall_profile_attribute">Job: Campaigner</div>
    <div class="facewall_profile_attribute">Nationality: Chinese</div>
    <p class="facewall_profile_paragraph">Li was detained earlier this year and is still on probation. She has staged many high-profile campaigns, including parading the streets in a wedding dress splashed with fake blood to increase awareness of domestic violence.</p>
    <p class="facewall_profile_paragraph">In April she and her gay partner held an unofficial wedding ceremony even though gay marriage is prohibited in China.</p>
</li>
<li class="facewall_profile" id="facewall_95">
    <h2 class="facewall_profile_name">Sophie Walker</h2>
    <div class="facewall_profile_img facewall_profile_img_95"></div>
    <div class="facewall_profile_attribute">Age: 44</div>
    <div class="facewall_profile_attribute">Job: Women's Equality Party</div>
    <div class="facewall_profile_attribute">Nationality: British</div>
    <p class="facewall_profile_paragraph">Sophie is the leader of the Women’s Equality Party, a new collaborative force in British politics, which believes women should enjoy the same rights and opportunities as men.</p>
    <p class="facewall_profile_paragraph">She worked as an international news agency journalist for nearly 20 years and is also an ambassador for the National Autistic Society, campaigning for better support and understanding of autism, particularly in women and girls.</p>
</li>
<li class="facewall_profile" id="facewall_96">
    <h2 class="facewall_profile_name">Alek Wek</h2>
    <div class="facewall_profile_img facewall_profile_img_96"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Model/UN ambassador</div>
    <div class="facewall_profile_attribute">Nationality: Sudanese</div>
    <p class="facewall_profile_paragraph">One of the world’s most recognisable models, Alek grew up during the Second Sudanese civil war before her family sought refuge in Britain in the 1990s.</p>
    <p class="facewall_profile_paragraph">She pursued a career in modelling and quickly rose to the top of her profession. As UN goodwill ambassador she makes regular trips to South Sudan's refugee camps.</p>
    <p class="facewall_profile_paragraph">Alek features in our '100 Women Interviews' strand.</p>
</li>
<li class="facewall_profile" id="facewall_97">
    <h2 class="facewall_profile_name">Xian Xu</h2>
    <div class="facewall_profile_img facewall_profile_img_97"></div>
    <div class="facewall_profile_attribute">Age: 28</div>
    <div class="facewall_profile_attribute">Job: Entrepreneur</div>
    <div class="facewall_profile_attribute">Nationality: Chinese</div>
    <p class="facewall_profile_paragraph">Xian co-founded Cuisines Sous Vide restaurant chain in China in March 2015, in a bid to tap into the lifestyle tastes of young middle class Chinese.</p>
    <p class="facewall_profile_paragraph">The chain utilises the sous vide method of cooking, a popular restaurant technique that involves cooking food slowly in airtight plastic bags at very low temperatures.</p>
    <p class="facewall_profile_paragraph">Xian appears in our '30 under 30' strand.</p>
</li>
<li class="facewall_profile" id="facewall_98">
    <h2 class="facewall_profile_name">Tin Tin Yu</h2>
    <div class="facewall_profile_img facewall_profile_img_98"></div>
    <div class="facewall_profile_attribute">Age: 89</div>
    <div class="facewall_profile_attribute">Job: Retired teacher</div>
    <div class="facewall_profile_attribute">Nationality: Burmese</div>
    <p class="facewall_profile_paragraph">Tin Tin is a former English teacher in several Burmese state schools and the American International School in Yangon, She opened her own kindergarten after she retired.</p>
    <p class="facewall_profile_paragraph">She is a keen athlete and sports fan who almost never misses a Manchester United match.</p>
    <p class="facewall_profile_paragraph">Tin Tin features in our 'Vintage Ladies' strand.</p>
</li>
<li class="facewall_profile" id="facewall_99">
    <h2 class="facewall_profile_name">Marie-Ange Zimndou Koutou</h2>
    <div class="facewall_profile_img facewall_profile_img_99"></div>
    <div class="facewall_profile_attribute">Age: 42</div>
    <div class="facewall_profile_attribute">Job: Nurse's aide</div>
    <div class="facewall_profile_attribute">Nationality: Central African Republic</div>
    <p class="facewall_profile_paragraph">Marie-Ange has been working in the paediatrics department of a hospital run by Medecins sans Frontieres in rural Kabo for the last nine years.</p>
    <p class="facewall_profile_paragraph">Health workers are scarce in CAR, and having had just three months of training Marie-Ange does much of the work a fully qualified nurse would do elsewhere in the world.</p>
    <p class="facewall_profile_paragraph">Marie-Ange features in our coverage focusing on nursing across the world.</p>
</li>
<li class="facewall_profile" id="facewall_100">
    <h2 class="facewall_profile_name">'Nour' </h2>
    <div class="facewall_profile_img facewall_profile_img_100"></div>
    <div class="facewall_profile_attribute">Job: Refugee</div>
    <div class="facewall_profile_attribute">Nationality: Syrian</div>
    <p class="facewall_profile_paragraph">One of three sisters who have lived in Raqqa, Syria, all of their lives, including during its recent rule by the so-called Islamic State.</p>
    <p class="facewall_profile_paragraph">Nour (not her real name) escaped Raqqa in recent weeks, leaving her elder and younger sisters behind, and has explained to us about the pressures on girls under the extremist group’s rule.</p>
    <p class="facewall_profile_paragraph">Nour appears in our 'good girl' filmmakers strand.</p>
</li>
