.facewall {
    position: relative;
}

.facewall_title {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.22;
    font-weight: normal;
}

.facewall_cta {
    background: url(/news/special/2015/newsspec_12497/content/english/img/hand_icon.png) no-repeat 0 12px;
    padding: 10px;
    padding-left: 20px;
}