body.no-js {
    .facewall_cta, .facewall_filters, .facewall_list {
        display: none;
    }

    .facewall_profile_wrapper, .facewall_profile {
        display: block;
        margin: 0;
        padding: 0;
    }
}