<fieldset class="ns_filter__control ns_filter__control--filter">
    <legend>Filters</legend>
    <div>
        <label for="ns_facewall__input--filter-interviews">The 100 Women interviews</label>
        <input id="ns_facewall__input--filter-interviews" class="ns_facewall__input ns_facewall__input--filter-interviews" value="filter-interviews" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--filter-thirty_under_thirty">30 under 30</label>
        <input id="ns_facewall__input--filter-thirty_under_thirty" class="ns_facewall__input ns_facewall__input--filter-thirty_under_thirty" value="filter-thirty_under_thirty" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--filter-good_girl">&lsquo;Good Girl&rsquo; film makers</label>
        <input id="ns_facewall__input--filter-good_girl" class="ns_facewall__input ns_facewall__input--filter-good_girl" value="filter-good_girl" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--filter-vintage_ladies">Vintage ladies</label>
        <input id="ns_facewall__input--filter-vintage_ladies" class="ns_facewall__input ns_facewall__input--filter-vintage_ladies" value="filter-vintage_ladies" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--filter-nurses">Nurses</label>
        <input id="ns_facewall__input--filter-nurses" class="ns_facewall__input ns_facewall__input--filter-nurses" value="filter-nurses" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--filter-further_inspiration">Further inspiration</label>
        <input id="ns_facewall__input--filter-further_inspiration" class="ns_facewall__input ns_facewall__input--filter-further_inspiration" value="filter-further_inspiration" type="checkbox">
    </div>
</fieldset>