<li class="ns_facewall__item ns_facewall__item--filtered ns_facewall__item--filter-interviews" id="ns_facewall__listitem--1">
    <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--1">
        <span>Bobbi Brown</span>
    </a>
    <div class="ns_facewall__tooltip">
        <span class="ns_facewall__tooltipname">Make-up guru</span>
    </div>
</li>
<li class="ns_facewall__item ns_facewall__item--filtered ns_facewall__item--filter-interviews" id="ns_facewall__listitem--2">
    <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--2">
        <span>Alek Wek</span>
    </a>
    <div class="ns_facewall__tooltip">
        <span class="ns_facewall__tooltipname">Model</span>
    </div>
</li>
<li class="ns_facewall__item ns_facewall__item--filtered ns_facewall__item--filter-interviews" id="ns_facewall__listitem--3">
    <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--3">
        <span>Fatou Bensouda</span>
    </a>
    <div class="ns_facewall__tooltip">
        <span class="ns_facewall__tooltipname">Award-winning lawyer</span>
    </div>
</li>
<li class="ns_facewall__item ns_facewall__item--filtered ns_facewall__item--filter-interviews" id="ns_facewall__listitem--4">
    <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--4">
        <span>Nkoszana Dlamini Zuma</span>
    </a>
    <div class="ns_facewall__tooltip">
        <span class="ns_facewall__tooltipname">Politician and doctor</span>
    </div>
</li>
<li class="ns_facewall__item ns_facewall__item--filtered ns_facewall__item--filter-vintage_ladies" id="ns_facewall__listitem--5">
    <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--5">
        <span>Jenni Rhodes</span>
    </a>
    <div class="ns_facewall__tooltip">
        <span class="ns_facewall__tooltipname">"I don't think I'll ever retire"</span>
    </div>
</li>
<li class="ns_facewall__item ns_facewall__item--filtered ns_facewall__item--filter-good_girl" id="ns_facewall__listitem--6">
    <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--6">
        <span>Ayesha Ishtiaq</span>
    </a>
    <div class="ns_facewall__tooltip">
        <span class="ns_facewall__tooltipname">Schoolgirl feminist</span>
    </div>
</li>
