<li class="ns_facewall__portrait" id="ns_facewall--1">
    <h2 class="ns_facewall__name">Bobbi Brown</h2>
    <div class="ns_facewall__portrait-img ns_facewall__portrait-img--silhouette"></div>
    <div class="ns_facewall__age portrait__atrribute">Age: 58</div>
    <div class="ns_facewall__job portrait__atrribute">Job: Make-up entrepreneur</div>
    <div class="ns_facewall__nationality portrait__atrribute">Nationality: American</div>
    <p class="portrait__paragraph">A professional make-up artist who founded the successful Bobbi Brown Cosmetics brand in the early 90s.</p>
    <p class="portrait__paragraph">Sick of red lipstick, she was interested in celebrating rather than altering womens features, and forged a more natural look. Bobbi features in our '100 Women Interviews' strand.</p>
</li>
<li class="ns_facewall__portrait" id="ns_facewall--2">
    <h2 class="ns_facewall__name">Alek Wek</h2>
    <div class="ns_facewall__portrait-img ns_facewall__portrait-img--silhouette"></div>
    <div class="ns_facewall__age portrait__atrribute">Age: 28</div>
    <div class="ns_facewall__job portrait__atrribute">Job: Model and refugee rights activist</div>
    <div class="ns_facewall__nationality portrait__atrribute">Nationality: South Sudan</div>
    <p class="portrait__paragraph">Alek Wek is one of the world’s most recognisable models. She grew up during the civil war in Southern Sudan – when Sudan was still unified.</p>
    <p class="portrait__paragraph">Her family sought refuge in Britain in the 1990’s. She pursued a career in modelling and quickly rose to the top of her profession.</p>
    <p class="portrait__paragraph">Now based in New York she is an author, entrepreneur and UN Goodwill ambassador and makes regular trips to South Sudan's refugee camps.</p>
</li>
<li class="ns_facewall__portrait" id="ns_facewall--3">
    <h2 class="ns_facewall__name">Fatou Bensouda</h2>
    <div class="ns_facewall__portrait-img ns_facewall__portrait-img--silhouette"></div>
    <div class="ns_facewall__age portrait__atrribute">Age: 54</div>
    <div class="ns_facewall__job portrait__atrribute">Job: Chief prosecutor, ICC</div>
    <div class="ns_facewall__nationality portrait__atrribute">Nationality: Gambian</div>
    <p class="portrait__paragraph">The chief prosecutor of the International Criminal Court (ICC) in the Hague, she is the first African to hold a top post at the ICC.</p>
    <p class="portrait__paragraph">She is a legal professional who previously served as a civil servant in the Gambian government, and is the recipient of many awards for her contributions to criminal law.</p>
    <p class="portrait__paragraph">Fatou features in our '100 Women Interviews' strand.</p>
</li>
<li class="ns_facewall__portrait" id="ns_facewall--4">
    <h2 class="ns_facewall__name">Nkoszana Dlamini Zuma</h2>
    <div class="ns_facewall__portrait-img ns_facewall__portrait-img--silhouette"></div>
    <div class="ns_facewall__age portrait__atrribute">Age: 66</div>
    <div class="ns_facewall__job portrait__atrribute">Job: Chair, African Union Commission</div>
    <div class="ns_facewall__nationality portrait__atrribute">Nationality: South African</div>
    <p class="portrait__paragraph">Dr. Nkosazana Dlamini Zuma is the Chair of the African Union Commission based in Addis Ababa, Ethiopia.</p>
    <p class="portrait__paragraph">Before joining the AU in 2012 she served as a minister in all of South Africa's post apartheid governments. Before entereing politics Dr Dlamini Zuma was an ANC activist who spent some of the apartheid years in exile.</p>
    <p class="portrait__paragraph">She is a trained medical doctor</p>
</li>
<li class="ns_facewall__portrait" id="ns_facewall--5">
    <h2 class="ns_facewall__name">Jenni Rhodes</h2>
    <div class="ns_facewall__portrait-img ns_facewall__portrait-img--silhouette"></div>
    <div class="ns_facewall__age portrait__atrribute">Age: 83</div>
    <div class="ns_facewall__job portrait__atrribute">Job: Textile designer</div>
    <div class="ns_facewall__nationality portrait__atrribute">Nationality: British</div>
    <p class="portrait__paragraph">Recently retired model, former actress and fashion designer, she is still working hard.</p>
    <p class="portrait__paragraph">At the age of 83, when many people are in comfortable in retirement, she has started a new career as a textile designer.</p>
    <p class="portrait__paragraph">Jenni features in our 'Veteran Ladies' strand.</p>
</li>
<li class="ns_facewall__portrait" id="ns_facewall--6">
    <h2 class="ns_facewall__name">Ayesha Ishtiaq</h2>
    <div class="ns_facewall__portrait-img ns_facewall__portrait-img--silhouette"></div>
    <div class="ns_facewall__age portrait__atrribute">Age: 17</div>
    <div class="ns_facewall__job portrait__atrribute">Job: Schoolgirl feminist</div>
    <div class="ns_facewall__nationality portrait__atrribute">Nationality: Pakistan</div>
    <p class="portrait__paragraph">Ayesha is a grade 12 student from Islamabad who is passionate about tackling the sexism she perceives in her society.</p>
    <p class="portrait__paragraph">She gets together with a close group of friends for feminist and human rights talks and plans to study journalism or womens studies in the US before returning to Pakistan to use her education to help others.</p>
    <p class="portrait__paragraph">Ayesha appears in our 'Good girl' film makers strand.</p>
</li>
